img {border: 10px solid rgb(248, 4, 4);}

#email {background-color: darkred;}

#github {background-color: darksalmon;}

#portfolio {background-color: papayawhip;}

.lesson {background-color: rgb(255, 180, 221);}